@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Philosopher&family=Playfair+Display&family=Poppins&display=swap");

body {
  font-family: pt-sans-regular;
}
.card{
   transform: rotate(30deg);
}
.reverse{
  transform: rotate(-30deg);
}